@import 'tailwindcss';

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'Inter', system-ui, sans-serif;
}
